.image-container {
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: 120px auto 30px;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}
